body {
    font-family: Arial;
}
.box {
    border: solid 2px black;
    margin: 10px 200px;
    padding: 10px 10px;
    line-height: 1.6;
    box-shadow: 2px 3px 9px 0px;
}
h2 {
    margin: 0;
}
h1 {
    text-align: center;
}