* {
    box-sizing: border-box;
  }
  body {
      font-family: futura;
  }
  .dashboard {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 100%;
    height: 800px;
  }
  .greeting {
      grid-column: span 2;
      background-color: #9A3013;
      color: white;
  }
  #welcome {
       text-align: center;
       margin: 20px;
       font-size: 3em;
  }
  .clock {
    margin: 20px;
  }
  .digital-clock {
    display: flex;
    justify-content: center;
    font-size: 3em;
  }
  header {
    grid-column: span 1;
  }
  .cal {
    grid-column: span 2;
    background: #DAB600;
    border-radius: 5px;
  }
  .to-do {
    grid-column: span 3;
  }
  .calculator {
    max-width: 400px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .calculator input {
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 20px;
    text-align: right;
    font-size: 30px;
  }
  
  .calculator-buttons {
    display: grid;
    padding: 10px;
    grid-template: repeat(5,1fr) / repeat(4,1fr);
    grid-gap: 15px;
    font-weight: bold;
  }
  
  .calc-button {
    background: #7FA88C;
    border: 1px solid #004019;
    padding: 15px;
    color: #004019;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  .is-clear {
    grid-column: 1/4;
    background: #9A3013;
  }
  .is-zero {
    grid-column: span 3;
  }
  .is-equals {
    background: #DAB600;
  }
  .month {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    background: #DAB712;
    border: 2px solid #7FA78C;
  }
  .layout {
      background-color: #DAB712;
  }
  .calendar {
      display: grid;
      grid-template-columns: repeat(7, 1fr) ;
      grid-template-rows: 8% repeat(6, 1fr);
      grid-gap: 1px;
  }
  .caldays {
      background-color: #7FA78C;
      text-align: center;
      padding: 6px;
      font-size: 20px;
      color: #003F1A;
      font-weight: bold;
    }
    .caldate {
      background-color: #7FA78C;
      font-size: 50px;
      text-align: center;
      color: #99321C;
       font-weight: bold;
  }
  .to-do {
      background: #DAB712;
      color: black;
      padding: 10px 0 0 15px;
      font-size: 1.15em;
  }
  .list {
    color: #004019;
  }