* {
    box-sizing: border-box;
    font-family: futura;
  }
.dashboard {
      display: grid;
      grid-template: repeat(auto)  / repeat(2,1fr);
      background-color: #F9F9F9;
  }
.greeting {
    grid-column: span 2;
    background-color: #A1D8BF;
    border: 1px solid #A1D8BF;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    margin: 5px;
    padding: 5px;
}
.clock {
    grid-column: span 2;
    background-color: #F9F9F9;
}
.digital-clock {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    padding: 0px 0px .4em 0px;
}
.calc {
    border: 1px solid black;
    border-radius: 5px;
    width: 185px;
}
.calc input {
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 2px solid black;
    text-align: right;
    font-size: 1em;
}
.calculator-buttons {
    display: grid;
    grid-template: repeat(5,1fr) / repeat(4,1fr);
    grid-gap: 5px;
    font-weight: bold;
    padding: 5px;
}
.calc-button {
    background: #9A91D9;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    font-size: 1em;
    margin: 3px;
    cursor: pointer;
}
.calc-wrap {
    padding: 0px 0px 0px 2em;
}
.is-clear {
    grid-column: 1/4;
    background: #C9C8C9;
}
.is-zero {
    grid-column: span 3;
}
.is-equals {
    background: #A1D8BF;
}
.month {
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 5px;
    background: #9A91D9;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: auto repeat(6, 1fr);
    grid-gap: 1px;
    height: 85%;
}
.caldays {
    background-color: #A1D8BF;
    text-align: center;
    padding: 3px;
    font-size: .25em;
    color: black;
    font-weight: bold;
}
.caldate {
    background-color: #A1D8BF;
    font-size: 1em;
    text-align: center;
    color: black;
    font-weight: bold;
}
.to-do {
    grid-column: span 2;
    background: #A1D8BF;
    color: black;
    padding: 0px 10px;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: .7em;
    box-shadow: 5px 5px #9A91D9;
}
.list {
  color: black;
}
.head {
    font-weight: bold;
    font-size: 1.2em;
}

/* Medium and up (Tablets) */
@media (min-width: 768px) {

    .dashboard {
        display: grid;
        grid-template: repeat(auto)  / repeat(3,1fr);
        background-color: #F9F9F9;
    }
    .greeting {
        grid-column: span 1;
        padding: 15px;
    }
    .clock {
        grid-column: span 1;
        padding: 25px 0px 0px 0px;
        font-size: 1.5em;
    }
    .calc {
        grid-column: span 1;
        width: 250px;
    }
    .calc input {
        font-size: 1.25em;
    }
    .calc-wrap {
        align-content: center;
        margin: 50px;
    }
    .cal {
        grid-column: span 1;
    }
    .to-do {
        font-size: 1em;
    }
    .calc-button {
        margin: 5px;
        font-size: 1.2em;
    }
    .month {
        font-size: 1.5em;
        padding: 8px;
    }
    .calendar {
        grid-gap: 2px;
    }
    .caldays {
        padding: 8px;
        font-size: 1em;
    }
    .caldate {
        padding: 5px;        
        font-size: 1.25em;
    }
}

/* Large and up (Desktops) */
@media (min-width: 992px) {
    .dashboard {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        width: 100%;
        height: 800px;
      }
      .greeting {
          grid-column: span 2;
           padding: 35px 0px 0px 0px;
           font-size: 3em;
      }
      .clock {
        margin: 20px;
      }
      .digital-clock {
        font-size: 2em;
      }
    .cal {
        grid-column: span 2;
        border-radius: 5px;
      }
    .to-do {
        grid-column: span 3;
      }     
    .calc input {
        padding: 15px;
        font-size: 25px;
      } 
    .calculator-buttons {
        grid-gap: 10px;
      }
    .calc-button {
        padding: 15px;
        border-radius: 5px;
        font-size: 25px;
        cursor: pointer;
      }
    .calc {
        width: 320px;
    }
    .month {
        width: 100%;
        text-align: center;
        font-size: 30px;
        padding: 10px;
      }
    .calendar {
          display: grid;
          grid-template-columns: repeat(7, 1fr) ;
          grid-template-rows: 8% repeat(6, 1fr);
          grid-gap: 1px;
      }
    .caldays {
          text-align: center;
          padding: 6px;
          font-size: 20px;
          font-weight: bold;
        }
    .caldate {
          font-size: 50px;
          text-align: center;
          font-weight: bold;
      }
    .to-do {
          color: black;
          padding: 10px 0 0 15px;
          font-size: 1.15em;
      }
}