.borders {
    border: 1px solid red;
}
body {
    margin: 10px 200px;
    font-family: helvetica;
}
header {
    padding: 10px 30px;
    border: solid 0px black;
    background: #0047b3;
}
h1,h2,h4 {
    color: white;
    margin: 5px;
    padding: 5px;
}
h2 {
    font-size: 35px;
}
h4 {
    font-size: 14px;
    line-height: 0px;
}
h1 {
    line-height: 100px;
    display: inline;
}
.title {
    padding: 10px 10px;
}
.experience {
    padding: 90px 10px;
}
.school {
    padding: 90px 10px;
}
.name {
    padding: 100px;
}
.address {
    padding: 170px;
}
.email {
    padding: 5px;
}