.border {
    border: 1px solid red;
    font-family: arial;
}
.hey { 
    font-family: Lobster; 
    font-size: 68px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 600; 
    line-height: 60.4px;
    width: 40%;
    float: right;
    height: 325px;
    text-align: right;
}
.top {
    font-family: Lobster;
    display: inline-block;
    width: 50%;
    height: 100px;
    font-size: 100px;
    line-height: 100px;
    font-weight: 300;
    margin: 25px 0px 0px 80px;
}
.top2 {
    font-family: Lobster;
    display: inline-block;
    width: 50%;
    height: 100px;
    font-size: 100px;
    line-height: 100px;
    font-weight: 300;
    margin: 0px 0px 0px 120px;
}
.left {
    width: 45%;
}
h3 {
    display: inline-block;
    width: 100%;
    margin: 0px;
    text-align: right;
}
.summary {
    width: 40%;
    display: inline-block;
    text-align: right;
    margin: 18px 0px 16px 328px;
}
.right {
    display: inline-block;
    width: 45%;
    margin: 0px 0px 0px 600px;
}